[submodule "anonima/NetSpectre"]
	path = anonima/NetSpectre
	url = https://github.com/Extr3m4R4710/NetSpectre
[submodule "app/st-NzxSec"]
	path = app/st-NzxSec
	url = https://github.com/NzxSec/st-NzxSec
